#show_product {
  #product_box {
    width: 70%;
    margin: 0 auto;
    margin-top: 70px;

    #title {
      text-align: right;
      font-size: 3em;
      font-weight: bold;
    }

    #price {
      text-align: left;
      font-size: 1.3em;
      border-bottom: 1px solid #e7e7e7;
    }

    #category {
      text-align: right;
      margin-bottom: 15px;
    }

    #description {
      min-height: 300px;
    }

    #created_at {
      border-top: 1px solid #e7e7e7;
      margin-top: 15px;
      text-align: right;
    }

    #added_by {
      text-align: right;
    }
  }
}

#reviews_box {
  width: 70%;
  margin: 0 auto;
  margin-top: 70px;
}

#review_header {
  text-align: left;
  font-size: 1.2em;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 30px;
}

#review_author {
  border-bottom: 1px solid #e7e7e7;
}

#review_content {
  padding-top: 15px;
  margin-bottom: 30px;
}