#show_user {

  #user_name {
    margin-top: 70px;
    font-size: 3em;
    font-weight: bold;
  }

  #email {
    text-align: right;
  }

  #last_visit {
    text-align: right;
    border-bottom: 1px solid #e7e7e7;
  }
}