#show_product

  = link_to "Back", category, class: "btn btn-default btn-lg glyphicon glyphicon-chevron-left"

  #product_box
    #title
      =product.title

    #price
      ="Price: #{product.price}$"

    #category
      ="Product from category: #{link_to product.category.name, category}".html_safe

    #description
      =product.description

    #created_at
      =product.created_at

    #added_by
      ="Added by: #{User.find(product.user_id).full_name}".html_safe