!!!
%html{ lang: 'en' }
  =render partial: "layouts/head"
  %body
    =render partial: "layouts/navigation"
    .container
      .row
        .col-lg-12
          - if !current_user
            .alert.alert-info{role: "alert"}= "Some functionality is not available for you. You can #{link_to "log in", new_user_session_path} or #{link_to "register", new_user_registration_path}.".html_safe
          = yield